#!/bin/rc

rfork en

msg=()
for(f in /adm/timezone/*){
	if(! ~ $f /adm/timezone/README){
		cat $f >/env/timezone
		tm=`{../6.date -f'WW, DD MMM YYYY hh:mm:ss Z'}
		x=`{../6.date -n}
		y=`{../6.seconds $"tm}
		if(! ~ $x $y){
			echo $f $tm $x $y are not equal
			msg=($msg $f)
		}
	}
}

exit $"msg
