#!/bin/rc

fn confignet{
	must ip/ipconfig -p $*
	if(~ $#fs 0)
		fs=`{awk -F'=' '/fs=/{print $2; exit}' /net/ndb}
	if(~ $#auth 0)
		auth=`{awk -F'=' '/auth=/{print $2; exit}' /net/ndb}
	if(~ $#fs 0)
		ask fs ' ip is? ' $auth
	if(~ $#auth 0)
		ask auth ' ip is? ' $fs
}

fn connecttcp{
	srv -q tcp!$fs!564 boot 
}

fn connectil{
	srv -q il!$fs!17008 boot 
}

mtcp=(confignet connecttcp)
mil=(confignet connectil)
mt=(mtcp mil $mt)
